
.uniandes{
  width: 40px;
  height: auto;
}
.nav-link{
  margin: 0 10px 0 10px;
}

.navbar{
 margin-bottom: 40px;
}
.lda{
  width: 1200px;
  height: auto;
}
.wordcloud{
  width: 1000px;
  height: auto;
}
.alpha {
  width: 500px;
  height: auto;
}
.beta {
  width: 500px;
  height: auto;
}
.ldaperiodo{
  width: 1000px;
  height: auto;
  margin-left: 30px;
  margin-top: 30px;
}
.wordcloudperiodo{
  width: 900px;
  height: auto;
  

}
 a:hover {
  text-decoration: none !important;
}
.divchart{
  height: 400px;
  
}
.input {
margin-top: 15px !important;

}
.res{
  margin-top: 25px !important;
}
.cambiar{
  margin: 15px 0 0 0 !important;
}